* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

#main-header-container {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  border-top: 1px solid black;
  font-family: "Fredoka", sans-serif;
}

nav {
  display: flex;
}

header {
  border: 2px solid black;
  margin-bottom: -2px;
}

main {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

footer {
  border: 2px solid black;
}

.right-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 70px;
  margin-right: 60px;
}

.logo {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: auto;
  font-family: "Bungee", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  display: flex;
}

.middle-section-split {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.footer-header {
  text-align: center;
}

.footer-content div {
  flex: 0 1 200px;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 15px;
}
